## Python Data Structures
- boolen
- List
- Dictionaries
- Sets

### boolen 
#### are objects which store binary values / sometimes reffered to as True/False

In [10]:
my_str = "Diwakar"

In [18]:
print(my_str.isalnum()) # Returns True if all charecters are numbers and 
print(my_str.isalpha()) # Returns True if it has all char values
print(my_str.islower()) # check for lowercase strings
print(my_str.istitle()) # checks if First char is ALpha
print(my_str.isupper()) # test upper case strings
print(my_str.startswith("D")) # True if it starts
print(my_str.endswith("r"),"7") # True if it ends

True
True
False
True
False
True
True 7

# Lists 
- mutable and indexed data structure 
- can store multiple data types of data

In [21]:
lst_example = []
print(type(lst_example))
type(lst_example)

<class 'list'>

list

In [22]:
lst = list() # 2nd way of creating list
type(lst)

list

In [24]:
lst_2 = ["diwakar babu",80,"balu",79]
print(type(lst_2))
print(lst_2)

<class 'list'>
['diwakar babu', 80, 'balu', 79]

## Addition/manpulating of items in list

In [25]:
lst_2.append("babu") # adds at last 
print(lst_2)

['diwakar babu', 80, 'balu', 79, 'babu']

### inseritng at specified index

In [27]:
lst_2.insert(2,"Yoga") # adds at specified index
print(lst_2)

['diwakar babu', 80, 'Yoga', 'Yoga', 'balu', 79, 'babu']

### Inserting multiple values

In [31]:
lst_2.append(["manish","amit"]) # adds by creating nested lists 
print(lst_2)
lst_2.extend(["Raju","shyam"]) # adds multiple values at last
print(lst_2)

['diwakar babu', 80, 'Yoga', 'Yoga', 'balu', 79, 'babu', ['manish', 'amit'], ['manish', 'amit'], ['manish', 'amit'], 'Raju', 'shyam', ['manish', 'amit']]
['diwakar babu', 80, 'Yoga', 'Yoga', 'balu', 79, 'babu', ['manish', 'amit'], ['manish', 'amit'], ['manish', 'amit'], 'Raju', 'shyam', ['manish', 'amit'], 'Raju', 'shyam']

In [32]:
lst = [1,2,3,5]
print(lst)
lst.pop()
print(lst)
lst.pop(1)
print(lst)

[1, 2, 3, 5]
[1, 2, 3]
[1, 3]

In [38]:
print(sum(lst))
print(max(lst))
print(min(lst))
print()
lst.extend([4,5,6,7])
print(lst)

4
3
1

[1, 3, 4, 5, 6, 7]

In [39]:
print(lst.count(1)) # prints occurance of value in list

1

In [46]:
lst.index(3,1,7) # 3 is value and (1 and 9 are start value and end value range which it will check)

1

### Deleting elements in a list

In [47]:
print(lst)
lst.remove(4)
print(lst)

[1, 3, 4, 5, 6, 7]
[1, 3, 5, 6, 7]

In [48]:
print(lst)
lst.pop(4)
print(lst)

[1, 3, 5, 6, 7]
[1, 3, 5, 6]

# Sets
- sets unordered and unindexed mutable 
- iterable stores non-duplicate values

In [52]:
set_example = {1,2,2,3,33,4,4,5}
print(set_example)

{1, 2, 3, 4, 33, 5}

In [51]:
lst = [val for val in set_example]
print(*lst)
print(type(lst))

1 2 3 4 33 5
<class 'list'>

# Dictionary
- ordered, indexed
- have keys and values

In [54]:
dict = {1:"diwakar",2:"babu",3:"Shyam"}

In [55]:
for i in dict.values():
    print(i)

diwakar
babu
Shyam

In [57]:
for i in dict:
    print(i)

1
2
3

In [58]:
for i in dict.items():
    print(i)

(1, 'diwakar')
(2, 'babu')
(3, 'Shyam')

In [60]:
dict[4] = "Krishna"
for i in dict.values():
    print(i)

diwakar
babu
Shyam
Krishna

In [61]:
print(dict[3])

Shyam

## Nested Dictionaries

In [63]:
car1_model = {"BmW":1960}
car2_model = {"fortuner":2000}
car3_model = {"Bolero":1876}

cars = {"car1":car1_model,"car2":car2_model,"car3":car3_model}

In [69]:
print(cars)
print(cars["car1"])
print(cars["car1"]["BmW"])

{'car1': {'BmW': 1960}, 'car2': {'fortuner': 2000}, 'car3': {'Bolero': 1876}}
{'BmW': 1960}
1960